$navbar-default-bg: #501426;

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar .nav > li > a {
   color:  #fff;
}

.navbar .nav > li > a:hover {
  color:  #8896a1;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color:white;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('flowers.jpg');
  background-size: cover;
  height: 550px;
}

.jumbotron h1 {
  color: white;
  text-align: center;
  letter-spacing: 3px;
  font-size: 3em;
}

#signupbutton {
  margin-top: 170px;
}

.btn-xlarge {
  font-size: 1.7em;
  background-color: #501426;
  border: 1px solid white;
}




.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 5px;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5 em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer small {
  float: left;
}